.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.profileImageWrapper
  border: 1px solid #E1E1E1
  border-radius: 50%
  background-color: #E5E5E5
  width: 100px
  height: 100px

.profileImage
  border-radius: 50%
  width: 100px
  height: 100px

.header
  display: flex
  align-items: center
  width: 80%
  height: 80px

.backButton
  font-size: 18px
  font-weight: bold
  cursor: pointer

.userInfo
  display: flex
  flex-direction: column
  align-items: center
  width: 100vw
  max-width: 500px
  

.userName
  font-size: 18px
  font-weight: bold
  padding-top: 18px

.userAge
  font-size: 14px
  color: #888888
  padding-top: 11px 

.userCountry
  font-size: 14px
  padding-top: 11px 

.countryField
  display: flex
  flex-direction: row
  align-items: center
  padding-top: 20px

.countryLabel
  font-size: 14px
  margin-right: 10px

.countryInput
  width: 170px
  height: 27px
  border: 1px solid #D5D5D5
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25)
  outline: none
  font-size: 14px

.countrySubmitButton
  background-color: #47B2FF
  color: white
  margin-left: 10px
  border-radius: 4px
  width: 85px
  height: 30px
  font-size: 14px
  cursor: pointer
  outline: none

.separationLine
  border: 0.5px solid #D5D5D5
  width: 100vw
  max-width: 500px
  margin-top: 20px

.languageName
  font-weight: bold

.language
  padding-top: 20px
  text-align: center

.footer
  margin-bottom: 50px
