.users 
  text-align: center
  display: flex
  justify-content: center
  padding-top: 40px
  padding-bottom: 40px
  background-color: #E5E5E5

.list
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 720px
